<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <!-- MATERIAL ICONS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='studentDetails.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>
        <div class="profile">
          <div class="profile-photo">
            <img src="{{ url_for('static',filename=name ~ '.jpg') }}" alt="" />
          </div>
          <div class="info">
            <p><b>{{name}}</b></p>
            <small class="text-muted">Teacher</small>
          </div>
        </div>

        <div class="sidebar">
          <a href="#" class="active">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/studentlist">
            <span class="material-icons-sharp">table_view</span>
            <h3>Student List</h3>
          </a>
          <a
            onclick="window.location='http://localhost:5000/dropsession'"
            type="submit"
          >
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- -------------------END OF ASIDE(left sidebar)----------- -->
      <main style="z-index: 20; width: 120%; margin-top: 1.4rem;">
        <div class="mbm_logo">
          <img
            style="width: 6.5rem; height: 6.5rem"
            src="{{ url_for('static',filename='MBM_Logo.png') }}"
            alt=""
          />
          <div>
            <h2 style="font-size: 25px">
              MBM UNIVERSITY, JODHPUR
              <br />
            </h2>
            <h2 style="font-size: 25px; margin-left: -25px">
              एम बी एम विश्वविद्यालय, जोधपुर
            </h2>
            <p style="padding-left: 3px">State University Govt. of Rajasthan</p>
          </div>
        </div>
        <div class="dabba">
          <h1 style="font-size: 2.5rem">Details</h1>
          <div id="teacher-details" class="details-card">
            <div style="margin-bottom: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <img
              src="{{ url_for('static',filename=name ~ '.jpg') }}"
                style="height: 200px; width: 170px; margin: auto; border-radius: 10px;"
                alt=""
              />
              <div style="width: 60%; margin-top: 20px;">
                <p style="font-size: 1.2rem; margin-bottom: 10px;">HOD {{name}}</p>
                <p>Dept. of Electronics and Communication Engineering</p>
              </div>

            </div>
            
            <table
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
              class="card-of-details"
            >
              <!--line:509 -->
              <tbody style="text-align: center; padding: 0">
                <tr>
                  <th
                    style="padding: 15px; display: flex; justify-content: start"
                  >
                  Designation:
                  </th>
                  <td style="text-align: start">Head of Department</td>
                </tr>
                <!-- <tr>
                  <th
                    style="padding: 15px; display: flex; justify-content: start"
                  >
                  Department: 
                  </th>
                  <td style="text-align: start">Electronics and Communication Engineering</td>
                </tr> -->
                <tr>
                  <th style="padding: 15px; text-align: start">Name:</th>
                  <td style="padding: 15px; text-align: start">{{name}}</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">Teacher ID:</th>
                  <td style="padding: 15px; text-align: start">{{id}}</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">
                    Exam Duration :
                  </th>
                  <td style="padding: 15px; text-align: start">3:00 hr</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">Venue:</th>
                  <td style="padding: 15px; text-align: start">{{room}} ({{dept}})</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">
                    Date:
                  </th>
                  <td style="padding: 15px; text-align: start">{{date}}</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">
                    Reporting Time:
                  </th>
                  <td style="padding: 15px; text-align: start">10:45 Am</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">
                    Email ID:
                  </th>
                  <td style="padding: 15px; text-align: start">kapilparihar@mbmu.com</td>
                </tr>
                <tr>
                  <th style="padding: 15px; text-align: start">
                    Mobile No.:
                  <td style="padding: 15px; text-align: start">9865464347</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-------------------- END OF INSIGHTS --------------------->
      </main>
      <!-- --------------------END OF MAIN --------------------->

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>

          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
        </div>
        <!-- --------------END OF TOP------------- -->

        <!-- <div class="recent-updates">
          <h2>Notifications</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="images/pdf.png" alt="" />
              </div>
              <div class="message">
                <p>OFFICE ORDER ODD SEMESTER SPECIAL EXAM 2023</p>
                <small class="text-muted">05/10/2023</small>
              </div>
            </div>

            <div class="update">
              <div class="profile-photo">
                <img src="images/pdf.png" alt="" />
              </div>
              <div class="message">
                <p>
                  NOTIFICATION REGARDING BE CBCS SEM VIIITH 2023 EXAMINATION
                  FORMS.
                </p>
                <small class="text-muted">04/05/2023</small>
              </div>
            </div>
          </div>
        </div> -->
        <!-- ----------------------END OF RECENT UPDATES--------->
      </div>
    </div>

    <script src="{{ url_for('static',filename='script.js') }}"></script>
  </body>
</html>
